@import './utils/reset';
@import './utils/vars';
@import 'webix/webix.min.css';

.sideBar {
  background-color: rgba(255, 255, 0, 0);
  border: none;
  &_item {
    border: none;
  }
}

.greenbutton {
  .webix_el_box {
    color: green;
  }

  .wxi-check:before {
    color: green;
  }
}

.sideBarColor {
  background-color: rgba(160, 172, 194, 0.452);
}

.tableHover {
  background-color: #f4f5f9;
}

.deleteBtn {
  cursor: pointer;
}

.upperList {
  .webix_scroll_cont > div {
    &:nth-child(1) {
      background: rgb(146, 246, 199);
    }

    &:nth-child(2) {
      background: rgb(146, 246, 238);
    }

    &:nth-child(3) {
      background: rgb(146, 201, 246);
    }

    &:nth-child(4) {
      background: rgb(146, 153, 246);
    }

    &:nth-child(5) {
      background: rgb(194, 246, 146);
    }
  }

  .upperListBtn {
    float: right;
  }
}
