@import './utils/reset';
@import './utils/vars';
@import 'webix/webix.min.css';

.sideBar {
  background-color: rgba(255, 255, 0, 0);
  border: none;
  &_item {
    border: none;
  }
}

.greenbutton {
  .webix_el_box {
    color: green;
  }

  .wxi-check:before {
    color: green;
  }
}

.sideBarColor {
  background-color: rgba(160, 172, 194, 0.452);
}

.tableHover {
  background-color: #f4f5f9;
}

.deleteBtn {
  cursor: pointer;
}

.upperList {
  .webix_scroll_cont > div {
    &:nth-child(-n + 5) {
      background: rgba(146, 153, 246, 0.561);
    }
  }

  .upperListBtn {
    float: right;
  }
}
